
* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-nav > .nav-link {
    font-weight: bold;
}

.home-text h2 {
    position: relative;
    font-size: 36px;
    font-weight: bold;
    top: 100px;
}
.home-text .main-text {
    position: relative;
    top: 100px;
}
.main-text-color {
    color: #4A79FA;
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .home-text h2 {
        font-size: 36px;
        font-weight: bold;
    }
    .home-text .main-text { 
        font-size: 50px;
        font-weight: bold;
    }
  }
  
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .home-text h2 {
        font-size: 25px;
        font-weight: bold;
    }
    .home-text .main-text { 
        font-size: 25px;
        font-weight: bold;
    }
}

.navbar {
    border-bottom: 3px rgb(83, 83, 83) solid;
}

/** LAYOUTS **/
.parallax {
    /* The image used */
    background-image: url("../images/bg-image.jpg");
  
    /* Set a specific height */
    min-height: 77vh; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-title {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: #4A79FA;
    text-align: center;
    top: 70px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.section-title:after {
    position: absolute;
    content: "";
    width: 64px;
    height: 3px;
    left: 0;
    right: 0;
    margin: auto;
    top: 30px;
    background-color: #4A79FA;
}


.about-subtitle {
    padding: 20px;
}
.about-text {
    padding: 20px;
}

.imaged {
    position: relative;
    text-align:center;
}
.imaged img {
    position:absolute;
    text-align:center;
    width: 150px;
    height: 150px;
    margin-left: -80px;
    margin-top: -120px;
}

.skills {
    height: auto !important;
    min-height: 100%; 
    padding-bottom: 50px;
}

.image-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

.skills-subtitle {
    position: relative;
    top: 40px;
}

.projects {
    height: auto !important;
    min-height: 100%; 
}
.project-item {
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
.card {
    padding: 10px;
    border: 1px solid white;
}


/** FOOTER **/
.footer{
    background-color: #535353;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 2rem 0;
}
.footer-title{
    font-size: 2rem;
    margin-bottom: 20px;
}
.footer-social{
    margin-bottom: 20px;
}
.footer-icon{
    font-size: 1.7rem;
    color: #fff;
    margin: 0 10px;
}