* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2em;
}

*, ::before, ::after {
    box-sizing: inherit;
}

:root {
    --green-color: #64FFDA;
    --primary-color: #CCD6F6;
    --secondary-color: #8892B0;
    --bg-color: #0A192F;
    --bg-secondary-color: #112240;
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --navy-shadow: rgba(2,12,27,0.7);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-secondary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--green-color);
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-success {
    color: var(--green-color);
}

.text-dark {
    color: var(--bg-secondary-color);
}

.btn-outline-primary {
    padding: 10px 20px;
    border: 1px solid var(--green-color);
    color: var(--green-color);
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.btn-outline-primary:hover {
    background-color: rgb(100, 255, 218, .1);
}

body {
    color: var(--primary-color);
    background-color: var(--bg-color);
}

.content-title {
    position: relative;
    margin-bottom: 40px;

    &::after {
        position: absolute;
        content: "";
        width: 70%;
        height: 1px;
        top: 40px;
        left: 0;
        background-color: #64FFDA;
    }
}

.description-title {
    cursor: pointer;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.description-title:hover {
    color: var(--green-color);
}

#preloader {
    background: var(--bg-color) url(../images/KM.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 300;
}

.active-blur {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

a {
    text-decoration: none;
    
    li {
        list-style:none;
        background-color: white;
    }
}

li {
    list-style:none;
}

.container {
    margin: auto;
    width: min(90%, 4000px);
}

.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    backdrop-filter: blur(5px);
    transition: var(--transition);
    
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        position: relative;
    }
}

.button-logo {
    margin: 0;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.logo {
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 1em;
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--primary-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--green-color);
    width: 0%;
    inset: 0;
    border-right: 6px solid var(--green-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--green-color);
}

.logo:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--green-color))
}

.navbar {
    display: flex;
    align-items: center;
    column-gap: 1.5em;
    
    .nav-link {
        position: relative;
        font-size: 0.94rem;
        padding: 4px 8px;
        color: var(--primary-color);
        
        &::after {
            margin-left: 8px;
            background-color: var(--green-color);
            position: absolute;
            content: "";
            width: 0;
            height: 3px;
            top: 30px;
            left: 0;
            transition: 0.3s;
        }

        &:hover::after {
            width: 50%;
        }
        
        &.active-link::after {
            margin-left: 8px;
            background-color: var(--green-color);
            position: absolute;
            content: "";
            width: 50%;
            height: 3px;
            top: 30px;
            left: 0;
            transition: 0.3s;
        }
    }
}


.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 100;
    transition: 0.3s;

    div {
        display: block;
        background-color: var(--primary-color);
        height: 2px;
        width: 24px;
        transition: 0.3s;
    }
}

.move {
    .line1 {
        transform: rotate(-45deg) translate(-5px, 5px);
    }
    .line2 {
        opacity: 0;
    }
    .line3 { 
        transform: rotate(45deg) translate(-5px, -5px);
    }
}

div.left-orientation {
    display: inline;
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: var(--secondary-color);

    ul.social-vertical {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        list-style: none;
        
        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            margin: 0px auto;
            background-color: var(--secondary-color);
        }

        li {
            padding: 0.625em 0;
            a {
                display: inline-block;
                text-decoration: none;
                text-decoration-skip-ink: auto;
                color: inherit;
                position: relative;
                transition: var(--transition);
            }

            &:last-of-type {
                margin-bottom: 20px;
            }

            &:hover {
                a {
                    .svg-icon {
                        width: 25px;
                        height: 25px;
                        stroke: var(--green-color);
    
                        path {
                            fill: var(--green-color);
                        }
                    }
                } 
            }
        }
    }
}

div.right-orientation {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: var(--secondary-color);

    .email-link {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        position: relative;

        a {
            margin: 20px auto;
            padding: 10px;
            color: var(--secondary-color);
            letter-spacing: 0.1em;
            -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
            font-size: 0.8rem;
         
            &:hover {
                color: var(--green-color);
            }
        }
        
        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            margin: 0px auto;
            background-color: var(--secondary-color);
        }
    }
}

.svg-icon {
    width: 25px;
    height: 25px;
    stroke: var(--secondary-color);

    path {
        fill: var(--secondary-color);
    }
}

.main {
    display: flex; 
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
    
    h1 {
        font-size: clamp(2rem, unquote("4vw + 1rem"), 4rem);
    }

    h2 {
        font-size: clamp(1.8rem, unquote("3.8vw + 1rem"), 4rem);
    }

    p.hero-description {
        width: min(100%, 768px);
    }
}

.hero {
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
    width: 80vw;
}

.about {
    min-height: 90vh;
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
    width: 80vw;
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.about-content {
    color: var(--secondary-color);
}

.about-image {
    padding: 0px 20px;
    width: 50%;
    height: auto;
}

.work {
    min-height: 100vh;
    margin: 0px auto;
    padding: 50px 0px;
    max-width: 1000px;
    width: 80vw;
}

.work-container {
    display: grid;
    width: 100%;
    padding: 30px 0px;

    &.left {
        grid-template-columns: 1.5fr 1fr;
    }

    &.right {
        grid-template-columns: 1fr 1.5fr;
    }
}

.work-description {
    color: var(--secondary-color);
    padding: 40px 10px; 
    padding-bottom: 40px;
    line-height: 30px;

    &.right {
        text-align: right;
    }

    &.left {
        text-align: left;
    }
}

.work-image {
    padding: 10px 0px;
    width: 100%;
    height: auto;
}

.featured-text {
    color: var(--green-color);
}

.project-link {
    font-size: 20px;
    
    a {
        color: var(--secondary-color);
        padding-left: 10px;
        padding-right: 10px;
    }
    a:hover {
        color: var(--primary-color);
    }
}

.language-use {
    margin: 20px 0px;
    display: flex;

    &.right {
        justify-content: end;
        
        li {
            padding-left: 20px;
        }
    }

    &.left {
        justify-content: start;
        
        li {
            padding-right: 20px;
        }
    }
}

.full-bleed {
    box-shadow: 0 0 0 80vmax var(--bg-secondary-color);
    clip-path: inset(0 -80vmax);
}

@media (max-width:768px) {
    .menu-icon {
        display: flex;
    }

    .navbar {
        top: 0;
        right: -100%;
        width: min(75vw, 400px);
        height: 100vh;
        background-color: var(--bg-secondary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        padding: 50px 20px;
        
        .nav-link {
            display: block;
            margin: 1rem 0;
        }
    }

    .open-menu {
        right: 0;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
        animation: introLoad 0.5s forwards;
        padding: 8em 0;
    }

    .close-menu {
        display: none;
        right: 0;
    }
    
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    
    .about-image {
        padding: 0px;
        margin-top: 40px;
        width: 100%;
        height: auto;
    }

}

@keyframes introLoad {
    from {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@media (prefers-reduced-motion: no-preference){
    .main-header {
        height: 4.375em;
        transform: translateY(0px);
        background-color: #0a192fd9;
        box-shadow: 0 10px 30px -10px var(--navy-shadow);
    }
}