* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2em;
}

:root {
  --green-color: #64FFDA;
  --primary-color: #CCD6F6;
  --secondary-color: #8892B0;
  --bg-color: #0A192F;
  --bg-secondary-color: #112240;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --navy-shadow: rgba(2,12,27,0.7);
}

body {
  color: var(--primary-color);
  background-color: var(--bg-color);
}

#preloader {
  background: var(--bg-color) url(../images/KM.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 300;
}

.active-blur {
  filter: blur(20px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  margin: auto;
  width: min(90%, 1299px);
}

.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: var(--transition);
}
.main-header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
}

.logo {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--green-color);
}

.navbar {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5em;
       column-gap: 1.5em;
}
.navbar .nav-link {
  font-size: 0.94rem;
  padding: 4px 8px;
  border-radius: 0.2rem;
  color: var(--primary-color);
}
.navbar .nav-link:hover {
  color: var(--green-color);
}

.menu-icon {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  cursor: pointer;
  z-index: 100;
  transition: 0.3s;
}
.menu-icon div {
  display: block;
  background-color: var(--primary-color);
  height: 2px;
  width: 24px;
  transition: 0.3s;
}

.move .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.move .line2 {
  opacity: 0;
}
.move .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

div.left-orientation {
  display: inline;
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: var(--secondary-color);
}
div.left-orientation ul.social-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
div.left-orientation ul.social-vertical::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--secondary-color);
}
div.left-orientation ul.social-vertical li {
  padding: 0.625em 0;
}
div.left-orientation ul.social-vertical li a {
  display: inline-block;
  text-decoration: none;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}
div.left-orientation ul.social-vertical li:last-of-type {
  margin-bottom: 20px;
}
div.left-orientation ul.social-vertical li:hover a .svg-icon {
  width: 25px;
  height: 25px;
  stroke: var(--green-color);
}
div.left-orientation ul.social-vertical li:hover a .svg-icon path {
  fill: var(--green-color);
}

div.right-orientation {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: var(--secondary-color);
}
div.right-orientation .email-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
div.right-orientation .email-link a {
  margin: 20px auto;
  padding: 10px;
  color: var(--secondary-color);
  letter-spacing: 0.1em;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-size: 0.8rem;
}
div.right-orientation .email-link a:hover {
  color: var(--green-color);
}
div.right-orientation .email-link::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--secondary-color);
}

.svg-icon {
  width: 25px;
  height: 25px;
  stroke: var(--secondary-color);
}
.svg-icon path {
  fill: var(--secondary-color);
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }
  .navbar {
    top: 0;
    right: -100%;
    width: min(75vw, 400px);
    height: 100vh;
    background-color: var(--bg-secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding: 50px 20px;
  }
  .navbar .nav-link {
    display: block;
    margin: 1rem 0;
  }
  .open-menu {
    right: 0;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-animation: introLoad 0.5s forwards;
            animation: introLoad 0.5s forwards;
    padding: 8em 0;
  }
  .close-menu {
    display: none;
    right: 0;
  }
}
@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .main-header {
    height: 4.375em;
    transform: translateY(0px);
    background-color: rgba(10, 25, 47, 0.8509803922);
    box-shadow: 0 10px 30px -10px var(--navy-shadow);
  }
}/*# sourceMappingURL=style.css.map */