
footer {
    text-align: center;
    margin: 0px auto;
    padding: 80px 0px;
    max-width: 1000px;
    padding: 2rem;
}

footer p {
    cursor: default;
    text-align: center;
}

footer img {
    width: 20px;
    height: 20px;
}

footer .connect-me {
    margin-top: 20px;
}

footer .connect-me a {
    margin-right: min(20px, 30px);
}