.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
}

.main h1 {
    font-size: clamp(2rem, 4vw + 1rem, 4rem);
}

.hero > span {
    font-size: clamp(1.8rem, 3.8vw + 1rem, 4rem)!important;
}

.main p.hero-description {
    width: min(100%, 668px);
}

.hero {
    margin: 0px auto;
    padding: 80px 0px;
    max-width: 1000px;
    width: 80vw;
}